<div class="container">
    <div class="row">
      <div class="display_logo">
        <div class="logo"></div></div>
     <div class="fomulario">
      <form action="" class="formu">
        <div class="icon mb-3">
          <span class="material-symbols-outlined">
            folder_open
            </span>
        </div>
        <div class="form-floating mb-3 mt-1">
          <input type="text" class="form-control" id="floatingInput" placeholder="este campo es obligatorio">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="icon mb-3 ">
          <span class="material-symbols-outlined">
            person
            </span>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="este campo es obligatorio">
          <label for="floatingInput">Apellido</label>
        </div>
        <div class="icon mb-3">
          <span class="material-symbols-outlined">
            phone_iphone
            </span>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="este campo es obligatorio">
          <label for="floatingInput">telefono</label>
        </div>
        <div class="icon mb-3">
          <span class="material-symbols-outlined">
            contact_mail
            </span>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="este campo es obligatorio">
          <label for="floatingInput">correo</label>
        </div>
        <div class="icon mb-3">
          <span class="material-symbols-outlined">
            pin
            </span>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">contraseña</label>
        </div>
        <div class="icon mb-3">
          <span class="material-symbols-outlined">
            sync_lock
            </span>
        </div>
        
          <div class="form-floating form-repetir mt-3">
          
            <input type="password" class="form-control" id="floatingInput" placeholder="este campo es obligatorio">
            <label for="floatingInput">repetir contraseña</label>
          
          </div>
          
          <div class="botones mt-3 mb-5">
            <button type="button" class="btn btn-dark " routerLink="inicio-sesion">Volver</button>
            <button type="button" class="btn btn-dark">Guardar</button>
            </div>
       
        
        
        
       </form>
     </div>
    </div>
</div>