<div class="container">
    <div class="row">
        <div class="head"></div>


        <div class="body">
            <div class="logo"></div>
           
           <div class="derecha">
           <div class="informacion">
             <span class="material-symbols-outlined span">
                    person
                    </span>
                    <input type="email" name="email" id="email" class="input" placeholder="INGRESA TU EMAIL">
          
            
                <span class="material-symbols-outlined span">
                    lock
                    </span>
                    <input type="password" name="password" id="password" class="input" placeholder="INGRESA TU CONTRASEÑA">
            
           </div>
               

            <div class="botones">
                <button  class="boton boton_uno" routerLink="olvido">¿no tienes cuenta?</button>
                <button class="boton boton_dos" routerLink="olvido"> INICIAR SESION</button>
                <button class="boton boton_tres" routerLink="restablecer-contraseña">¿olvidaste contraseña?</button>
            </div>
           </div>
        </div>


        <div class="header"></div>

    </div>
</div>